@{
    ViewData["Title"] = "Home Page";
  
}








    <!--Se crea el header (encabezado) con sus respectivos botones de enlaces-->
   <body>

    <!--Carrusel-->
    <div class="slider">
        <ul>
            <li><img src="imagen_carrusel1.jpg" alt=""></li>
            <li><img src="imagen_carrusel2.jpg" alt=""></li>
            <li><img src="imagen_carrusel3.jpg" alt=""></li>
            <li><img src="imagen_carrusel4.jpg" alt=""></li>
        </ul>
    </div>

    <!--Mas info-->

    <div class="Sobre_Nosotros">

        <a href="">Sobre Nosotros</a>

    </div>

    <br>

    <div class="Contacto">

        <a href="">Contacto</a>

    </div>

    <br>

    <div class="Preguntas_Frecuentes">

        <a href="">Preguntas Frecuentes</a>

    </div>

    <br>

    <footer>© 2023 - Grupo 3</footer>

</body>



</html>






